<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New dog</title>
</head>
<body>

<form th:method="POST" th:action="@{/dogs}" th:object="${dog}">

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>

    <label for="breed">Breed id</label>
    <input type="text" th:field="*{breedId}" id="breed"/>
    <div style="color:red" th:if="${#fields.hasErrors('breedId')}" th:errors="*{breed}">Breed error</div>
    <br/>

    <label for="owner">Owner</label>
    <input type="text" th:field="*{owner}" id="owner"/>
    <div style="color:red" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}">Owner name error</div>
    <br/>

    <label for="address">Address</label>
    <input type="text" th:field="*{address}" id="address"/>
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</div>
    <br/>

    <label for="mental">Mental test</label>
    <input type="text" th:field="*{mentalTest}" id="mental"/>
    <div style="color:red" th:if="${#fields.hasErrors('mentalTest')}" th:errors="*{mentalTest}">Mental test error</div>
    <br/>

    <label for="alive">Is Alive</label>
    <input type="checkbox" name="alive" th:checked="*{alive}" id="alive"/>
    <br/>



    <input type="submit" value="Create new dog!">
</form>

</body>
</html>