<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dog</title>
</head>
<body>

<p th:text="'Id: ' + ${dog.getId()}">id</p>
<p th:text="'Name: ' + ${dog.getName()}">name</p>
<p th:text="'Owner: ' + ${dog.getOwner()}">owner</p>
<p th:text="'Breed id: ' + ${dog.getBreedId()}">breedId</p>
<p th:text="'Address: ' + ${dog.getAddress()}">Address</p>
<p th:text="'Mental test: ' + ${dog.getMentalTest()}">Mental test</p>
<p th:text="${dog.isAlive()} ? 'Dog is alive' : 'Dog is not alive'">Is Alive</p>

<a th:href="@{/dogs/{id}/edit(id=${dog.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/dogs/{id}(id=${dog.getId()})}">
    <input type="submit" value="Delete dog"/>
</form>

</body>
</html>